In [16]:
############################
# Import Required Libraries

import pandas as pd
import numpy as np

In [17]:
import time
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error
from pandas import DataFrame
from sklearn.preprocessing import StandardScaler

In [19]:
#########################
# Read the cleaned data
def productLabels(s):
    s = s.strip().lower()
    if s == "womenclothing":
        return 1
    if s == "menclothing":
        return 2
    if s == "otherclothing":
        return 3
    return 0
#traindf = pd.read_csv('Train_Kaggle.csv',parse_dates=[['Year','Month']],converters={"ProductCategory":productLabels})
traindf = pd.read_csv('Train_Kaggle.csv',converters={"ProductCategory":productLabels})
traindf['ProductCategory'].unique()
traindf = traindf.fillna(method='bfill')


testdf = pd.read_csv('Test_Kaggle.csv',converters={"ProductCategory":productLabels})
testdf['ProductCategory'].unique()
test_for_kaggle = testdf.iloc[:,:-1]

In [23]:
from sklearn.model_selection import train_test_split
X=traindf.iloc[:,:-1]
y=traindf.iloc[:,21:22]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [24]:
traindf.iloc[:,21:22]

     Sales(In ThousandDollars)
0                          524
1                          496
2                          542
3                          669
4                          650
5                          607
6                          575
7                          551
8                          579
9                          610
10                         620
11                         930
12                         476
13                         471
14                         568
15                         630
16                         627
17                         598
18                         544
19                        1702
20                         563
21                         634
22                         669
23                         988
24                         487
25                         497
26                         599
27                         690
28                         677
29                        1702
..                         ...
186                       1049
187                       1124
188                       1045
189                       1158
190                       1252
191                       1475
192                       1036
193                       1144
194                       1346
195                       1188
196                       1194
197                       1261
198                       1126
199                       1311
200                       1043
201                       1702
202                       1209
203                       1566
204                       1172
205                       1123
206                       1293
207                       1196
208                       1257
209                       1702
210                       1175
211                       1337
212                       1056
213                       1153
214                       1468
215                       1967

[216 rows x 1 columns]

In [25]:
y_train

     Sales(In ThousandDollars)
35                        1081
28                         677
42                         613
209                       1702
101                       3232
147                        914
51                         718
206                       1293
180                       1039
76                        2732
41                         703
132                       2961
78                        2164
127                       3539
26                         599
143                       5664
113                       3086
125                       3360
2                          542
77                        2220
46                         731
175                       1001
115                       3059
90                        2749
85                        2413
144                        936
36                         525
122                       3687
61                         636
22                         669
..                         ...
21                         634
57                         785
160                        991
208                       1257
187                       1124
129                       3590
37                         545
157                        869
203                       1566
1                          496
52                         749
149                        932
130                       3834
151                        865
103                       3245
99                        3414
116                       1702
87                        1702
202                       1209
74                        2256
121                       2872
215                       1967
20                         563
188                       1045
71                        1070
106                       3499
14                         568
92                        2919
179                       1596
102                       2896

[144 rows x 1 columns]

In [27]:
import matplotlib.pyplot as plt
import numpy as np
from sklearn import datasets, linear_model
from sklearn.metrics import mean_squared_error, r2_score

# Create linear regression object
linregr = linear_model.LinearRegression()
# Train the model using the training sets
linregr.fit(X_train, y_train)
# Make predictions using the testing set
y_pred = linregr.predict(X_test)

# The coefficients
print('Coefficients: \n', linregr.coef_)
# The mean squared error
print("Mean squared error: %.2f"
      % mean_squared_error(y_test, y_pred))
# Explained variance score: 1 is perfect prediction
print('Variance score: %.2f' % r2_score(y_test, y_pred))

y_pred

Coefficients:
 [[ 2.00650231e+03  1.87928178e+02 -1.01376446e+03 -8.97383817e+01
   4.93653967e+01 -5.55327444e-01 -1.28708055e+00 -1.70746283e+02
  -6.12130971e+01  1.88512931e+01  8.74400745e+01 -7.53062369e+02
   5.79987258e+00  1.28683565e+00 -1.31832544e+00  4.65936438e+01
  -3.66714606e+02 -5.27087675e+00  2.05857848e+02  4.82877586e+02
  -1.34270022e+00]]
Mean squared error: 745209.70
Variance score: 0.53

array([[1150.82628113],
       [1381.03932411],
       [3228.45312608],
       [ 342.90444879],
       [1026.61452333],
       [2331.55215317],
       [ 487.30476925],
       [2166.73933136],
       [ 812.54016175],
       [3096.1416645 ],
       [  12.85006176],
       [1618.23042638],
       [ 820.64547585],
       [1136.65320851],
       [2082.37720294],
       [ 714.71818119],
       [ 390.59636156],
       [1385.83733114],
       [ 124.45231396],
       [2214.68866452],
       [ 525.89278084],
       [3324.80243518],
       [2266.52204294],
       [1914.63731813],
       [2742.24710432],
       [ 163.5196756 ],
       [ 616.83043835],
       [1294.54770575],
       [1892.20887823],
       [ 978.45223281],
       [2328.15502291],
       [1992.21669437],
       [2561.54866928],
       [ 139.98658478],
       [3016.29668454],
       [2774.11958741],
       [2519.87142739],
       [3165.94723674],
       [2848.17439898],
       [2560.61945721],
       [2600.22285411],
       [ 534.01974615],
       [2905.9733398 ],
       [2571.2892754 ],
       [2582.44377458],
       [2807.10614727],
       [2942.81346784],
       [1068.61274137],
       [2372.27416439],
       [ 515.6561083 ],
       [ 122.88874695],
       [1501.06923082],
       [1586.45839255],
       [ 533.09053408],
       [2167.51550791],
       [2182.45953043],
       [1529.42056987],
       [2394.80378567],
       [2928.40177969],
       [1700.50253786],
       [2172.33457123],
       [1462.04090749],
       [2822.64171336],
       [1760.35512584],
       [2418.12528469],
       [ 234.9642675 ],
       [2151.98123709],
       [1929.04900627],
       [2384.91804339],
       [ 304.02323004],
       [1636.22234433],
       [1568.67931301]])

In [12]:
import matplotlib.pyplot as plt
import numpy as np
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score

# Create linear regression object
regr = RandomForestRegressor(max_depth=2,random_state=0)
# Train the model using the training sets
regr.fit(X_train, y_train)
# Make predictions using the testing set
y_pred_randomforest = regr.predict(X_test)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:9: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  if __name__ == '__main__':

In [13]:
print("Mean squared error: %.2f"
      % mean_squared_error(y_test, y_pred_randomforest))
# Explained variance score: 1 is perfect prediction
print('Variance score: %.2f' % r2_score(y_test, y_pred_randomforest))

Mean squared error: 198358.24
Variance score: 0.87

In [14]:
kaggle_pred = regr.predict(test_for_kaggle)
kaggle_pred

array([3741.00067087,  710.15892169, 1171.95301296, 3741.00067087,
        710.15892169, 1171.95301296, 3861.26709944,  710.15892169,
       1171.95301296, 4094.53939674,  710.15892169, 1171.95301296,
       3861.26709944,  710.15892169, 1171.95301296, 3861.26709944,
        710.15892169, 1171.95301296, 3861.26709944,  710.15892169,
       1171.95301296, 3861.26709944,  710.15892169, 1171.95301296,
       3861.26709944,  710.15892169, 1171.95301296, 3861.26709944,
        710.15892169, 1171.95301296, 3989.92709944,  710.15892169,
       1171.95301296, 4223.19939674,  710.15892169, 1171.95301296])

In [15]:
kaggle_pred_linreg = linregr.predict(test_for_kaggle)
kaggle_pred_linreg

array([[3452.54164817],
       [2442.54490336],
       [1432.54815856],
       [3747.8408875 ],
       [2737.84414269],
       [1727.84739788],
       [3264.2703352 ],
       [2254.2735904 ],
       [1244.27684559],
       [3333.76871472],
       [2323.77196991],
       [1313.77522511],
       [3222.82538484],
       [2212.82864003],
       [1202.83189522],
       [3596.60785693],
       [2586.61111213],
       [1576.61436732],
       [3390.36156014],
       [2380.36481533],
       [1370.36807052],
       [3484.47780647],
       [2474.48106166],
       [1464.48431685],
       [3382.56240622],
       [2372.56566141],
       [1362.5689166 ],
       [3762.97998319],
       [2752.98323839],
       [1742.98649358],
       [3656.17179348],
       [2646.17504868],
       [1636.17830387],
       [4338.82982263],
       [3328.83307782],
       [2318.83633302]])